{% load static %}

<style>
     *{
          margin:0;
          padding:0;
          box-sizing: border-box;
          font-family: 'Nunito', sans-serif;
          scroll-behavior: smooth;
      }
      body {
          width: auto;
          height:100%;
          background: white;
      
      }
      
      .navbar{
      width: 100%;
      height : 60px;
      display: flex;
      justify-content: space-between;
      position:relative;
      padding: 1rem 2rem;
      z-index: 10;
      /* color: var(--whiteColor); */
      background:transparent;  
      background-color: rgb(2, 47, 83);
      color:white;
      border-bottom:1px solid white;
      }
      .logo{
      margin-top: -3px;
      font-size: 2.1rem;
      
      
      } 
      .logo a {
      list-style: none;
      text-decoration: none;
      color: aliceblue;
      text-shadow: 1px 1px 10px white,
      10px 0 60px  pink ,10px 0 100px dodgerblue,
      0 0 100px rgb(255, 255, 255), 10px 0 100px darkblue; 
      }
      .logo a:hover{
       color:steelblue;
      
      }
      .menu li , .menu a {
      margin: 0;
      list-style: none;
      /* color: white; */
      text-decoration: none;
       color:white;
       
      }
      .menu{
      width: 100%;
      max-width: 70%;
      min-width: 150px;
      margin:0;
      display: inline-flex;
      flex-direction: row;
      text-align: center;
      
      cursor: pointer;
      /* background-color: wheat; */
      
      }
      .menu ul{
      width: 100%;
      cursor: pointer;
      
      display: flex;
      position: relative;
      
      /* background-color: lightblue; */
      
      }
      .menu ul li {
      font-size: 1rem;
      margin-top: -30px;
      min-width: 30px;
      width: 80%;
      display:flex ;
      flex-direction: column;
      /* background-color: black; */
      padding: 5px;
      margin-top: 1px;
      
      }
      .drop-hover {
        position:absolute ;
              left: 50%;
              top: 50%;
              transform: translateX(-50%);
              /* background-color: darkblue; */
              height: auto;
              min-width: 100px;
              max-width: 300px;
             /* display: none; */
              opacity: 0;
              flex-direction: column;
              align-items: center;
              padding: 2px 0;
             
              transition: all .2s ease-in-out;
               color:black;
               cursor: pointer;
      
      }
      
      .menu ul li:hover > .drop-hover{
       
              visibility: visible;
              opacity: 1;
              top: 0.8rem;
              cursor: pointer;
            
          }
      
          .menu .drop-hover li{
          
              height: 2.4rem;
         line-height: 2rem;
              width: 100%;
              text-align: center;
              transition: all .3s ;
              /*border: 1px solid red;*/
              background-color: aliceblue;
              font-size: 1rem;
              cursor: pointer;
          } 
          .drop-hover li a {
              color:black;
              
          }
      
          .menu .drop-hover li:hover{
              background-color: steelblue;
              cursor: pointer;
            
          }
      /* .menu .drop-hover {
      position: absolute;
      left: 10%;
      transform: translateX(-50%);
      background-color: dodgerblue;
      height: auto;
      min-width: 50px;
      /* Initially hide the dropdown 
      flex-direction: column;
      align-items: center;
      padding: 2rem 0;
      gap: 2rem;
      top: 60%; /* Adjusted 
      transition: all .3s linear;
      } */
      
      /* .menu a::after{
      content:' ';
      position:absolute;
      height: 100%;
      width: 100%;
      /* background:#f44566;  
      background:linear-gradient(95deg, #FF5733, #33FF);
      color: var(--whiteColor);
      border-bottom: #f6f8fa;
      transform: translate(-50%, -50%);
      z-index: -1;
      top:50%;
      left:50%;
      border-radius:20px;
      opacity:0 ;
      padding: 5px 15px;
      transition: top 0.5s, opacity 0.4s ;
      
      } */
      /* .menu a {
      
      color: var(--whiteColor);
      text-decoration: none;
      font-size: 22px;
      font-weight: 499;
      position:relative;
      z-index: 1;
      display: flex;
      display: inline-block;
      transition: bottom 0.5s ease;
      } */
      /* .menu a:hover{
      } */
      /* box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
      10px 10px 70px rgba(0,0,0,0.25),
      inset 5px 5px 10px rgba(0,0,0,0.5),
      inset 5px 5px 20px rgba(255,255,255,0.2),
      inset -5px -5px 15px rgba(0, 0, 0, 0.75); */
      
      svg{
      display: none;
      
      }
      .menu .profile-pic {
      background:black;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-top: -17px;
      margin-left:50px;
      background-color: aliceblue;
      }
      
      @media screen and (max-width: 768px) {
      .menu a,.menu li {
          color:black;
      }
       .menu {
          position: fixed;
          top:0;
          right: 0;
          height: 300px;
          width: 100%;
          max-width: 100%;
          z-index: 1;
          background: steelblue;
          color: black;
          display: none;
          flex-direction: row;
          justify-content: center;
          align-items:center;
          text-align: center;
          font-size: 0.6rem;
          padding:10px;
          margin:0;
          transition: all 0s ease-in-out;
      } 
      .menu ul{
      width: 200px;
      top: 0;
      color:black;
      cursor: pointer;
      display: block;
      position: relative;
      /* background-color: lightblue;  */
      
      }
      .menu ul li {
      color:black;
      margin:5px;
      background-color: steelblue;
      font-size: 1.2rem;
      line-height: -20px;
      gap: -20px;
      width: 100%;
      min-width: 60px;
      max-width: 200px;
      /* background-color: black; */
      }
      .menu ul li a:hover {
      color:black;
      
      }
      .drop-hover {
      position:absolute ;
      top:0;
      padding:0;
      transform: translateX(-50%);
      /* background-color: darkblue; */
      height: auto;
      min-width: 190px;
      display: flex;
      opacity: 1;
      line-height: 1.5rem;
      flex-direction: column;
      align-items: center;
      left:45%;
      transition: all .3s linear;
      background-color: steelblue;
      }
      .drop-hover li,.drop-hover a{
      background-color: steelblue;
      color:aliceblue;
      
      }
      .menu .drop-hover li{
      padding:0px;
      height: 1.5rem;
      line-height: 1.4rem;
      width: 100%;
      text-align: center;
      transition: all .3s linear;
      /*border: 1px solid red;*/
      background-color: steelblue;
      font-size: 1rem;
          } 
      .drop-hover li a {
      color: white;
      
      } 
          .menu .drop-hover li a:hover{
          background-color: transparent;
      }
      .menu .drop-hover li a:hover{
        color:black;
          
       }
      
      .menu .profile-pic {
      margin-left: 60px;
      height: 50px;
      width: 55px;
      border-radius:50%;
      margin-top: 7px;
      }
       svg{
      width: 40px;
      height: 40px;
      display: flex;
      position:absolute;
      right:30px;
      top:15px;
      justify-content: flex-end;
      align-items:flex-end;
      }
      
      .menu li , .menu a {
      margin: 0;
      list-style: none;
      color: black; 
      text-decoration: none;
      }
      }
      
</style>




 <!-- navbar -->
 <nav class="navbar">
    <h1 class="logo"><a href="#">   Admin Panel   </a></h1>
    <!-- <h1 class="logo">Suffah</h1> -->
    <div class="menu">
        <div  onclick=" hideSidebar()"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30">
            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>  </div>
            <ul >
                 <li> <a href="#" > Dashboard</a> 
                     <ul class="drop-hover">
                                <li><a href="{% url 'user_dashboard' %}">Users and Empployers </a></li>
                                <li><a href="{% url 'Candidate_details' %}">User Details</a> </li>
                                <li><a href="{% url 'Employer_details' %}">Employer Details</a> </li>
                     </ul>
                </li>
                   
                     <li>     <a href="{% url 'JobPosted' %}" > Jobs </a> </li>
                    
                        
             </ul> 
  </div>
               <div class="showSidebar" onclick="showSidebar()"> 
                    <!-- <i class="fa-solid fa-bars"></i> -->
                    <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"> 
                   <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg> 
              </div>
                    
</nav>
<script>
     function showSidebar(){
          const sidebar = document.querySelector('.menu')
              sidebar.style.display = 'flex' 
          }
          
          function hideSidebar(){
              const sidebar= document.querySelector('.menu')
              sidebar.style.display = 'none'
              
          }
</script>