{% extends "ForAdmin/Admin.html" %}
{% block 'title' %}  Dashboard {% endblock  %}
{% block 'style' %}  
    <style>
         *{
            margin:0;
            padding:0;
            box-sizing: border-box;
            font-family: 'Nunito', sans-serif;
            scroll-behavior: smooth;
        }
        body {
            width:100%;
            height:100%;
            background: rgb(0, 160, 35);
          
            transition: 0.3s;
            overflow-x: hidden;

        }
        .heading {
        background-color:cornflowerblue;
        color:white;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 2rem;
        height: 3.4rem;

        }
        .heading1 {
             justify-content: center;
        text-align: center;
        align-items: center;
            display: flex;
        margin-left: 5rem;
        margin-top: 2rem;
        color: steelblue;
        font-size: 3rem;
      
        }
        table {
           padding:10px;
            margin:14px 20px;
            color:white;
            /* background-color: aliceblue; */
            /* border: 2px solid black; */
            width:95%;
            background-color: aliceblue;
              box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
            10px 10px 70px rgba(0,0,0,0.25),
            inset 5px 5px 10px rgba(0,0,0,0.5),
            inset 5px 5px 20px rgba(255,255,255,0.2),
            inset -5px -5px 15px rgba(0, 0, 0, 0.75); 
          
        }
        th{
            /* border:1px solid black; */
            width: 100px;
            padding:10px;
            align-items: center;
            padding:10px;
        }
        td{
            /* background-color: white; */
            align-items: center;
            /* border: 2px solid black; */
            justify-content: space-around;
            padding:8px;
            color: black;
            font-size: 1rem;
        
          
        }
        tr{
            margin:5px;
            /* background-color: dodgerblue; */
            font-size: 1rem;
        }
        colgroup {
            color:white;
        }
        
    </style>
   {% endblock  %}

   {% block 'content' %} 
    
     <h1 class="heading1">Candidate Details</h1>
    <table >
        <colgroup>
            <col style="background-color: rgb(67, 50, 223); color:white;">
            <col style="background-color: blueviolet;">
            <col style="background-color: rgb(90, 223, 167);">
            <col style="background-color: rgb(197, 238, 101);">
            <col style="background-color: rgb(3, 110, 110);">
            <col style="background-color: rgb(22, 150, 236);">
            <col style="background-color: rgb(130, 193, 235);">
            <col style="background-color: rgb(7, 216, 25);">
            <col style="background-color: rgb(197, 238, 101);">
            <col style="background-color: rgb(218, 141, 141);">
        </colgroup>
        <rowgroup>
    
        </rowgroup>
         <thead>
        <tr align="center">
            <th  class="col">User</th>
            <th class="col">Location</th>
            <th class="col">Phone Number</th>
            <th class="col">Skills</th>
            <!-- <th class="col">Password</th> -->
            <th class="col">Education</th>
            <th class="col">University</th>
            <th class="col">Privius Job</th>
            <th class="col">Specialization</th>
            <th class="col">Interests</th>
            <th class="col">Gender</th>
            {% comment %} <th class="col">Action</th> {% endcomment %}
        </tr>
        </thead>
        <tbody>
       
          {% for user in user_details %}

                <tr align="center">
                   <th > {{ user.user }} </th>
                    <td>{{ user.location }}</td>
                    <td>{{ user.mobile_no }}</td>
                    <td>{{ user.skills }}</td>
                    <!-- <td>{{ user.password }}</td> -->
                    <td>{{ user.education }}</td>
                    <td>{{ user.university }}</td>
                    <td>{{ user.priveus_job }}</td>
                    <td>{{ user.specialization }}</td>
                    <td>{{ user.interests }}</td>
                    <td>{{ user.gender }}</td>
                   {% comment %} <td>
                        <a href="{% url 'edit_custom_user' user.id %}"> <i class="fa-solid fa-pen"></i> </a> 
                        <a href="{% url 'delete_user' user.id %}"> <i class="fa-solid fa-trash"></i> </a> 
                    </td>  {% endcomment %}
                </tr> 
            {% endfor %} 
        </tbody>
    </table>
{% endblock  %} 